.meeting-container {
    height: calc(100vh - 72px);
}

.p-progress-spinner {
    top: 50%;
    display: flex !important;
    transform: translateY(-50%);
    height: calc(100vh - 242px) !important;
  }
  
.p-progress-spinner-circle {
  stroke: #2747b1 !important;
}